# compiled files
*.pyc
*.so
build/
dist/
venv/
.vscode/
extractnet.egg-info

# IDEs
.idea/

# cython temporary files
extractnet/blocks.cpp
extractnet/blocks.html
extractnet/lcs.cpp
extractnet/lcs.html
extractnet/_weninger.cpp
extractnet/readability.cpp
extractnet/features/_readability.cpp
extractnet/features/_kohlschuetter.cpp
extractnet/features/_weninger.cpp

documents/
output/

.coverage*

# vim temp files
*.swp

.vagrant
